[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.12.1"
dj-database-url = "==3.1.2"
django = "==6.1"
djangorestframework = "==3.18.0"
psycopg = "==3.3.4"
psycopg-binary = "==3.3.4"
python-decouple = "==3.8"
sqlparse = "==0.6.0"

[dev-packages]

[requires]
python_version = "3.14"
